canvas{
    border:  solid black;
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(68, 68, 68);
}

body{
    background-image:url("assets/ultra-detailed-nebula-abstract-wallpaper-4.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}
